VITE_SUPABASE_URL=YOUR_SUPABASE_URL
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
VITE_NAVER_MAP_CLIENT_ID=YOUR_NAVER_MAP_CLIENT_ID
NAVER_SEARCH_CLIENT_ID=YOUR_NAVER_SEARCH_CLIENT_ID
NAVER_SEARCH_CLIENT_SECRET=YOUR_NAVER_SEARCH_CLIENT_SECRET
PUBLIC_DATA_SERVICE_KEY=YOUR_PUBLIC_DATA_SERVICE_KEY
